:root {
  --dark-blue4: hsl(216, 53%, 9%);
  --dark-blue3: hsl(219, 30%, 18%);
  --dark-blue2: hsl(218, 28%, 13%);
  --dark-blue: hsl(217, 28%, 15%);
  --cyan: hsl(176, 68%, 64%);
  --blue: hsl(198, 60%, 50%);
  --white: hsl(0, 0%, 100%)
}

* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  font-size: 14px;
  color: var(--white);
  background-color: black;
}

.grid-container {
  /* max-width: 1330px; */
  flex: 1;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
  max-width: 100%;
}

header {
  max-width: 1440px;
  font-family: 'Raleway', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--dark-blue);
  height: 140px;
  font-size: 1.2em;
}

header figure {
  margin-left: 15px;
}

header figure img {
  height: 40px;
}

.menu {
  margin-right: 15px;
}

.menu ul {
  list-style: none;
  display: flex;
}

.menu ul li {
  height: inherit;
}

.menu ul li a {
  color: var(--white);
  text-decoration: none;
  padding: 0 1em;
  opacity: .8;
}

main {
  background: var(--dark-blue);
  background-image: url("../images/bg-curvy-desktop.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-position-y: 640px;
  font-family: 'Open Sans', sans-serif;
}

.intro {
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.ilustration-intro {
  padding-top: 1.5em;
}

.ilustration-intro img {
  max-width: 100%;
}

.intro-title {
  margin-top: 30px;
  font-size: 2.85em;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
}

.intro-details {
  margin: 30px 0 40px;
  line-height: 1.45;
  font-size: 1.43em;
  opacity: .8;
  font-family: 'Open Sans', sans-serif;
}

.intro-button {
  color: var(--white);
  padding: 14px 90px;
  border-radius: 21px;
  text-decoration: none;
  background: radial-gradient(var(--blue), var(--cyan));
  font-size: 1.2em;
  margin-bottom: 30px;
}

.advantages {
  display: grid;
  grid-template-columns: 35% 35%;
  grid-gap: 50px 10px;
  justify-content: center;
  text-align: center;
  margin-top: 170px;
  padding-top: 20px;
  background: var(--dark-blue2);
}

.advantage-title {
  font-size: 1.5em;
  margin: 20px 0 10px;
  font-family: 'Raleway', sans-serif;

}

.advantage-details {
  opacity: .7;
}

.productive {
  display: grid;
  grid-template-columns: 42% 40%;
  margin: 0 auto;
  grid-gap: 0 5%;
  justify-content: center;
  align-items: center;
  background: var(--dark-blue2);
  padding-top: 120px;
}

.productive-image img {
  max-width: 100%;
}

.productive-title {
  font-family: 'Raleway', sans-serif;
  font-size: 2.7em;
  margin-bottom: 20px;
}

.productive-details {
  margin-bottom: 20px;
  opacity: .7;
  font-size: 1.15em;
  line-height: 1.4;
}

.productive-link {
  font-size: 1.15em;
  color: var(--cyan);
  text-decoration: none;
  border-bottom: 1px solid var(--cyan);
  padding-bottom: 4px;
  opacity: .8;
}

.opinions {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 25%);
  grid-gap: 0 3%;
  background: var(--dark-blue2);
  padding: 150px 0 320px;
}

.opinion {
  background: var(--dark-blue3);
  padding: 40px 30px 15px;
}

.opinion p {
  opacity: .75;
  font-size: 1em;
  /* letter-spacing: .1px; */
}

.profile {
  display: flex;
  margin-top: 20px;
}

.profile-image img {
  width: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.profile-name {
  font-size: .8em;
  font-weight: 700;
  opacity: .9;
}

.profile span {
  font-size: .7em;
  opacity: .65;
}

.bottom-part {
  position: relative;
  background: var(--dark-blue4);
  min-height: 300px;
}

.form {
  max-width: 60%;
  padding: 40px 70px 30px;
  position: absolute;
  left: 20%;
  top: -30%;
  text-align: center;
  background: var(--dark-blue);
  box-shadow: 7px 1px 10px rgba(0, 0, 0, .5);
}

.form-title {
  font-family: 'Raleway', sans-serif;
  font-size: 2.4em;
  opacity: .93;
}

.form-details {
  opacity: .7;
  margin: 25px 0;
}

.register {
  display: flex;
  justify-content: space-between;
  /* width: 100%; */
}

.email {
  padding: 15px 30px;
  border-radius: 20px;
  min-width: 45%;
}

.register-button {
  padding: 15px 20px;
  border-radius: 20px;
  background: radial-gradient(var(--blue), var(--cyan));
  color: var(--white)
}

.footer {
  padding: 200px 10% 50px;
}

.footer span {
  opacity: .6;
}

.footer-icon {
  margin-bottom: 25px;
}

.footer-icon img {
  width: 150px;
}

.footer-subsections {
  display: flex;
}

.footer-location {
  display: flex;
  min-width: 22%;
  max-width: 27%;
}

.footer-location figure {
  margin-right: 18px;
  padding-top: 5px;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
}

.footer-contact figure {
  margin-right: 18px;
}

.contact-phone {
  display: inherit;
  margin-bottom: 15px;
}

.contact-email {
  display: inherit;
}

.footer-terms {
  display: flex;
  margin-left: 120px;
}

.footer-terms span {
  margin-bottom: 15px;
}

.terms-1 {
  display: inherit;
  flex-direction: column;
}

.terms-2 {
  display: inherit;
  flex-direction: column;
  margin-left: 60px;
}

@media screen and (max-width: 380px) {
  header {
    height: 100px;
  }

  header figure {
    max-width: 33%;
    margin-left: 30px;
  }

  header figure img {
    max-width: 70%;
    height: auto;
  }

  .menu ul li a {
    padding: 0 12px;
    font-size: 13px;
  }

  main {
    background-position-y: 635px;
    background-image: url(../images/bg-curvy-mobile.svg);
  }
  .ilustration-intro img {
    max-width: 80%;
  }

  .intro-title {
    font-size: 1.8em;
    max-width: 90%;
    margin: 50px auto 0;
    line-height: 1.3em;
  }

  .intro-details {
    max-width: 80%;
    margin: 30px auto 40px;
    font-size: 1.2em;
  }

  .intro-button {
    padding: 14px 75px;
  }

  .advantages {
    grid-template-columns: 90%;
  }

  .advantage-title {
    font-size: 1.3em;
  }

  .productive {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  
  .productive-image {
    display: flex;
    justify-content: center;
  }
  
  .productive-image img {
    max-width: 80%;
  }
  .productive-title {
    font-size: 21px;
    max-width: 90%;
    margin: 40px auto 30px;
  }

  .productive-details {
    max-width: 90%;
    margin: 0 auto 20px;
  }

  .opinions {
    grid-template-columns: 1fr;
  }

  .opinion {
    padding: 30px 15px;
    margin: 0 30px 25px;
  }

  .form {
    left: 5%;
    max-width: 90%;
    padding: 0;
    top: -25%;
  }

  .form-title {
    font-size: 1.5em;
    padding: 30px 0 0;
  }

  .form-details {
    max-width: 85%;
    margin: 25px auto 30px;
  }

  .register {
    flex-direction: column;
    max-width: 80%;
    margin: 0 auto 30px;
  }

  .register-button {
    margin-top: 20px;
  }

  .footer {
    padding-top: 250px;
  }

  .footer-subsections {
    flex-direction: column;
  }

  .footer-location {
    max-width: 100%;
  }

  .footer-contact {
    margin-left: 0;
    margin-top: 30px;
  }

  .footer-terms {
    margin: 40px 0;
    flex-direction: column;
  }

  .terms-2 {
    margin-left: 0;
    margin-top: 30px;
  }
}